html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 0; /* bottom = footer height */
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    padding: 0 0 10px 10px;
}

#title {
	display: inline-block;
}

.logo {
    width: 200px;
    margin: 10px auto;
}

.logo img {
    width: 100%;
}

.text-box {
    text-align: center;
}

.action-button {
    width: 610px;
    margin: 10px auto 0;
}

#result-url {
    margin-top: 30px;
}

#decoded-url {
    width: 650px;
    word-break:break-all;
}