html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 0; /* bottom = footer height */
}

.spacer-top {
    margin-top: 10px;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    padding: 0 0 10px 10px;
}

#title {
	display: inline-block;
}

#logo {
	margin-bottom: 10px;
}